body {
  background: url(images/back.jpg);
  color : white;
}

img {
	
}

.name {
 font-style: italic;
 font-weight: bold;
 color: #04A43D;}

.image1 {
  background: url(images/beatles.jpg) no-repeat;}
  
 .imgr{
float: right;
margin: 10px;  
 } 
 
 .imgl{
float: left;
margin: 10px;  
 } 